<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chaac</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {

              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');

            });
          });
        }

      });
    </script>
    <script type="text/javascript">
      'use strict';

      document.addEventListener('DOMContentLoaded', function () {

        // Modals

        var rootEl = document.documentElement;
        var $modals = getAll('.modal');
        var $modalButtons = getAll('.modal-button');
        var $modalCloses = getAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button');

        if ($modalButtons.length > 0) {
          $modalButtons.forEach(function ($el) {
            $el.addEventListener('click', function () {
              var target = $el.dataset.target;
              var $target = document.getElementById(target);
              rootEl.classList.add('is-clipped');
              $target.classList.add('is-active');
            });
          });
        }

        if ($modalCloses.length > 0) {
          $modalCloses.forEach(function ($el) {
            $el.addEventListener('click', function () {
              closeModals();
            });
          });
        }

        document.addEventListener('keydown', function (event) {
          var e = event || window.event;
          if (e.keyCode === 27) {
            closeModals();
          }
        });

        function closeModals() {
          rootEl.classList.remove('is-clipped');
          $modals.forEach(function ($el) {
            $el.classList.remove('is-active');
          });
        }

        // Functions

        function getAll(selector) {
          return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
        }

        function set_default_radio_buttons() {
          if(localStorage.pressure_units == null) {
            localStorage.pressure_units = "hPa";
          }

          if(localStorage.temperature_units == null) {
            localStorage.temperature_units = "c";
          }

          if (localStorage.pressure_units == "hPa") {
            document.getElementById("pressure_units_hpa").checked = true;
          } else {
            document.getElementById("pressure_units_inhg").checked = true;
          }

          if (localStorage.temperature_units == "c") {
            document.getElementById("temperature_units_c").checked = true;
          } else {
            document.getElementById("temperature_units_f").checked = true;
          }
        }

      function save_settings() {
        if (document.getElementById("pressure_units_hpa").checked) {
          localStorage.pressure_units = "hPa";
        } else {
          localStorage.pressure_units = "inHg";
        }

        if (document.getElementById("temperature_units_c").checked) {
          localStorage.temperature_units = "c";
        } else {
          localStorage.temperature_units = "f";
        }
        // TODO - redraw instead of reload
        location.reload();
      }

        document.getElementById("save_settings_btn").addEventListener('click', save_settings);
        document.getElementById("cancel_settings_btn").addEventListener('click', set_default_radio_buttons);

        set_default_radio_buttons();

      });
      </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Chaac
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>

        <a class="navbar-item" href="/plots">
          Plots
        </a>

        <a class="navbar-item modal-button" data-target="settings-modal">
          Settings
        </a>
      </div>
    </div>
  </nav>
  <div id="settings-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Settings</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="control">
        <b>Pressure Units: </b>
        <label class="radio">
          <input type="radio" name="pressure_units" id="pressure_units_hpa" value="hPa">
          hPa
        </label>
        <label class="radio">
          <input type="radio" name="pressure_units" id="pressure_units_inhg" value="inHg">
          inHg
        </label>
      </div>
      <div class="control">
        <b>Temperature Units: </b>
        <label class="radio">
          <input type="radio" name="temperature_units" id="temperature_units_c" value="c">
          C
        </label>
        <label class="radio">
          <input type="radio" name="temperature_units" id="temperature_units_f" value="f">
          F
        </label>
      </div>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" id="save_settings_btn">Save changes</button>
      <button class="button"  id="cancel_settings_btn">Cancel</button>
    </footer>
  </div>
</div>
  <section class="section">
    {% block body %}{% endblock %}
  </section>
  </body>
</html>
