{% extends "layout.html" %}
{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
      if(localStorage.pressure_units == null) {
        localStorage.pressure_units = "hPa";
      }

      function load_plots(url) {
        fetch(url)
        .then(function(response) {
          return response.json();
        })
        .then(function(plot) {
          plots = [
          {
            title:"Temperature",
            xdata: "timestamp",
            x_label: "Time",
            ydata: "temperature",
            y_label: "Temperature (C)",
            div: "div-temperature",
            type: "scatter"
          },
          {
            title:"Pressure",
            xdata: "timestamp",
            x_label: "Time",
            ydata: "pressure",
            y_label: "Pressure (" + localStorage.pressure_units + ")",
            div: "div-pressure",
            type: "scatter"
          },
          {
            title:"Humidity",
            xdata: "timestamp",
            x_label: "Time",
            ydata: "humidity",
            y_label: "Humidity (%RH)",
            div: "div-humidity",
            type: "scatter"
          },
          {
            title:"Rain",
            xdata: "rain_time",
            x_label: "Time",
            ydata: "rain",
            y_label: "Rain (mm)",
            div: "div-rain",
            type: "bar"
          },
          {
            title:"Wind Speed",
            xdata: "timestamp",
            x_label: "Time",
            ydata: "wind_speed",
            y_label: "Speed (kph)",
            div: "div-wspeed",
            type: "scatter"
          },
          {
            title:"Wind Direction",
            xdata: "timestamp",
            x_label: "Time",
            ydata: "wind_dir",
            y_label: "Direction",
            div: "div-wdir",
            type: "scatter"
          },
          {
            title:"Battery Level",
            xdata: "timestamp",
            x_label: "Time",
            ydata: "battery",
            y_label: "Voltage (V)",
            div: "div-battery",
            type: "scatter"
          },
          {
            title:"Light Level",
            xdata: "timestamp",
            x_label: "Time",
            ydata: "light",
            y_label: "Light Level (0-1)",
            div: "div-light",
            type: "scatter"
          },
          {
            title:"Solar Panel",
            xdata: "timestamp",
            x_label: "Time",
            ydata: "solar_panel",
            y_label: "Voltage (V)",
            div: "div-solar",
            type: "scatter"
          },
        ];

        if (localStorage.pressure_units == "inHg") {
          // Convert from hPa to inHg if necessary
          for(x = 0; x < plot["pressure"].length; x++) {
            num = plot["pressure"][x] / 33.8638866;
            plot["pressure"][x] = num.toFixed(3);
          }
        }

        // Draw each plot here
        plots.forEach(function(item){
          var layout = {
            title: {
              text:item["title"]
            },
            xaxis: {
              title: {
                text:item["x_label"]
              }
            },
            yaxis: {
              title: {
                text:item["y_label"]
              }
            }
          };

          // TODO - Also add html elements here for more flexibility

          Plotly.purge(document.getElementById(item["div"]));
          Plotly.plot(document.getElementById(item["div"]),
            [{x:plot[item["xdata"]],
              y:plot[item["ydata"]],
              type:item["type"],
              name:item["title"]}],
              layout,
              {responsive: true} );
          });

          document.getElementById("div-header").innerHTML = "Weather from <b>" + plot["start_date"] + "</b> to <b>" + plot["end_date"] +"</b>";
        });
      }

      window.onload = function(){
        load_plots('/json/day');
      };
    </script>
{% endblock %}

{% block body %}
  <div class="container">
    <div class="columns">
      <div class="column">
        <button class="button" onclick="load_plots('/json/day')">Day</button>
        <button class="button" onclick="load_plots('/json/week')">Week</button>
        <button class="button" onclick="load_plots('/json/month')">Month</button>
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column">
        <h3 class="subtitle is-3 " id="div-header">Weather</h3>
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column">
        <div class="notification has-text-centered">
          <div id="div-temperature" ></div>
        </div>
      </div>
      <div class="column">
        <div class="notification has-text-centered">
          <div id="div-humidity" ></div>
        </div>
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column">
        <div class="notification has-text-centered">
          <div id="div-pressure" ></div>
        </div>
      </div>
      <div class="column">
        <div class="notification has-text-centered">
          <div id="div-rain" ></div>
        </div>
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column">
        <div class="notification has-text-centered">
          <div id="div-wspeed" ></div>
        </div>
      </div>
      <div class="column">
        <div class="notification has-text-centered">
          <div id="div-wdir" ></div>
        </div>
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column">
        <div class="notification has-text-centered">
          <div id="div-battery" ></div>
        </div>
      </div>
      <div class="column">
        <div class="notification has-text-centered">
          <div id="div-solar" ></div>
        </div>
      </div>
    </div>
    <div class="columns is-desktop">
      <div class="column">
        <div class="notification has-text-centered">
          <div id="div-light" ></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
