{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  pressure_hpa = {{ sample.pressure }};

  function show_pressure(units) {
    localStorage.pressure_units = units;
    switch(units) {
      case "hPa": {
        converted_pressure = pressure_hpa;
        unit_str = "hPa";
        break;
      };

      case "inHg": {
        converted_pressure = pressure_hpa / 33.8638866;
        converted_pressure = converted_pressure.toFixed(2)
        unit_str = "inHg";
        break;
      };
    }
    document.getElementById("pressure").innerHTML = converted_pressure + " " + unit_str;
  };

  window.onload = function(){
        if(localStorage.pressure_units == null) {
          localStorage.pressure_units = "hPa";
        }

        show_pressure(localStorage.pressure_units);
        
    };
</script>
<div class="container">
      <div class="columns is-desktop">
        <div class="column">
          <h3 class="subtitle is-3 ">Weather as of <b>{{ sample.timestamp }}</b></h3>
        </div>
      </div>
      <div class="columns is-desktop">
        <div class="column">
          <div class="notification has-text-centered">
            <h2 class="title is-2">Temperature</h2>
            <h3 class="subtitle is-3 ">{{ sample.temperature }} °C</h3>
          </div>
        </div>
        <div class="column">
          <div class="notification has-text-centered">
            <h2 class="title is-2">Humidity</h2>
            <h3 class="subtitle is-3 ">{{ sample.humidity }}%</h3>
          </div>
        </div>
        <div class="column">
          <div class="notification has-text-centered">
            <h2 class="title is-2">Pressure (<a onclick="show_pressure('hPa')">hPa</a>/<a onclick="show_pressure('inHg')">inHg</a>)</h2>
            <h3 class="subtitle is-3 " id="pressure">...</h3>
          </div>
        </div>
      </div>
      <div class="columns is-desktop">
        <div class="column">
          <div class="notification has-text-centered">
            <h2 class="title is-2">Battery</h2>
            <h3 class="subtitle is-3 ">{{ sample.battery }} V</h3>
          </div>
        </div>
        <div class="column">
          <div class="notification has-text-centered">
            <h2 class="title is-2">Rain</h2>
            <h3 class="subtitle is-3 ">{{ sample.rain }} mm</h3>
          </div>
        </div>
        <div class="column">
          <div class="notification has-text-centered">
            <h2 class="title is-2">Wind</h2>
            <h3 class="subtitle is-3 ">{{ sample.wind_speed }} kph @ {{ sample.wind_dir }}</h3>
          </div>
        </div>
      </div>
      <div class="columns is-desktop">
        <div class="column">
          <div class="notification has-text-centered">
            <h2 class="title is-2">Solar Panel</h2>
            <h3 class="subtitle is-3 ">{{ sample.solar_panel }} V</h3>
          </div>
      </div>
    </div>
{% endblock %}
