{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">

  function show_pressure() {
    switch(localStorage.pressure_units) {
      case "hPa": {
        converted_pressure = {{ sample.pressure }};
        unit_str = "hPa";
        break;
      };

      case "inHg": {
        converted_pressure = {{ sample.pressure }} / 33.8638866;
        converted_pressure = converted_pressure.toFixed(2);
        unit_str = "inHg";
        break;
      };
    }
    document.getElementById("pressure").innerHTML = converted_pressure + " " + unit_str;
  };

  function show_temperature() {
    switch(localStorage.temperature_units) {
      case "c": {
        converted_temperature = {{ sample.temperature }};
        unit_str = "C";
        break;
      };
      case "f": {
        converted_temperature = {{ sample.temperature }} * (9.0/5.0) + 32;
        converted_temperature = converted_temperature.toFixed(2);
        unit_str = "F";
        break;
      };
    }
    document.getElementById("temperature").innerHTML = converted_temperature + " °" + unit_str;
  }

  window.onload = function(){
        show_pressure();
        show_temperature();
    };
</script>
<div class="container">
      <div class="columns is-desktop">
        <div class="column">
          <h3 class="subtitle is-3 ">Weather as of <b>{{ sample.timestamp }}</b></h3>
        </div>
      </div>
      <div class="columns is-desktop">
        <div class="column">
          <div class="notification has-text-centered">
            <h2 class="title is-2">Temperature</h2>
            <h3 class="subtitle is-3 " id="temperature">...</h3>
          </div>
        </div>
        <div class="column">
          <div class="notification has-text-centered">
            <h2 class="title is-2">Humidity</h2>
            <h3 class="subtitle is-3 ">{{ sample.humidity }}%</h3>
          </div>
        </div>
        <div class="column">
          <div class="notification has-text-centered">
            <h2 class="title is-2">Pressure</h2>
            <h3 class="subtitle is-3 " id="pressure">...</h3>
          </div>
        </div>
      </div>
      <div class="columns is-desktop">
        <div class="column">
          <div class="notification has-text-centered">
            <h2 class="title is-2">Battery</h2>
            <h3 class="subtitle is-3 ">{{ sample.battery }} V</h3>
          </div>
        </div>
        <div class="column">
          <div class="notification has-text-centered">
            <h2 class="title is-2">Rain</h2>
            <h3 class="subtitle is-3 ">{{ sample.rain }} mm</h3>
          </div>
        </div>
        <div class="column">
          <div class="notification has-text-centered">
            <h2 class="title is-2">Wind</h2>
            <h3 class="subtitle is-3 ">{{ sample.wind_speed }} kph @ {{ sample.wind_dir }}</h3>
          </div>
        </div>
      </div>
      <div class="columns is-desktop">
        <div class="column">
          <div class="notification has-text-centered">
            <h2 class="title is-2">Solar Panel</h2>
            <h3 class="subtitle is-3 ">{{ sample.solar_panel }} V</h3>
          </div>
      </div>
    </div>
{% endblock %}
